USE [TM0011PBX]
GO
/****** Object:  Table [dbo].[ACODE_OWNERS]    Script Date: 02/12/2013 10:04:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACODE_OWNERS](
	[AuthCode] [varchar](32) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Alias] [varchar](32) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[UpdatedBy] [varchar](32) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[EvenTime] [datetime] NOT NULL,
	[Status] [bit] NOT NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[AuthCode] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ACODE_OWNERS]  WITH CHECK ADD  CONSTRAINT [FK_ACODE_OWNERS_Alias] FOREIGN KEY([Alias])
REFERENCES [dbo].[OWNER_INFO] ([Alias])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ACODE_OWNERS] CHECK CONSTRAINT [FK_ACODE_OWNERS_Alias]